html {
    scroll-behavior: smooth;
}
.slider .indicators .indicator-item.active {
    background-color: #6f4037;
}
.move {
    margin-top: 60px;
    margin-bottom: 20px;
    font-family: 'Bree Serif', serif;
}
.parallax-container {
    min-height: 280px;
    height: auto;
}
.brand-logo {
    font-family: 'Bree Serif', serif;
    font-size: 3rem !important;
}
#nav-mobile {
    font-family: 'Bree Serif', serif;
    font-size: 2rem !important;
}
.sidenav {
    font-family: 'Bree Serif', serif;
    font-size: 2rem !important;
}
.slider h3 {
    font-family: 'Pacifico', cursive;
}
.slider h5 {
    font-family: 'Bree Serif', serif;
}
.header {
    font-family: 'Pacifico', cursive;
}
.card-title {
    font-family: 'Bree Serif', serif;
}

.card-reveal p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#aboutus p {
    font-family: 'Bree Serif', serif;
}
.carousel-item p {
    font-family: 'Bree Serif', serif;
}
.carousel-item span {
    font-family: 'Pacifico', cursive;
}
footer h4 {
    font-family: 'Bree Serif', serif;
}
footer p {
    font-family: 'Pacifico', cursive;
}
footer li {
    font-family: 'Pacifico', cursive;
}
